<h2>Edit Song</h2>
<form method='POST' action="/songs/<%=@song.slug%>">
<input type='hidden' id='hidden' name='_method' value='patch'>
<label for='new_song'>Name:</label>
<input type='text' id='new_song' name='Name' value="<%=@song.name%>"><br>

<label for='new_artist'>Artist Name:</label>
<input type='text' name="Artist Name" value="<%=@song.artist.name%>"><br>
<% Artist.all.each do |artist| %>
    <input type="radio" name="song[artist_ids][]" id=artist_<%=artist.id%> value="artist_<%=artist.id%>" <%= 'checked' if @song.artist == artist%>><%=artist.name%> <br>
<%end%>

<label for='new_genre'>Genre Name:</label>
<input type='text' name="genre_name"> <br>
<%Genre.all.each do |genre|%>
        <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre)%>><%=genre.name%><br>
<%end%> <br>


<button type='submit' value="Save">Save</button>